/* Global definitions */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #1d3557;
  background: #e5e5e5;
  font-family: Verdana, sans-serif;
}

img {
  display: block;
  width: 100%;
}

/* Typography */
h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 2.441rem;
}

h2 {
  font-size: 1.953rem;
}

h3 {
  font-size: 1.563rem;
}

/* Layout */

.container {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
}

/* Hero */

.hero {
  height: 100vh;
  background: url("./../img/teatro.jpg") no-repeat center center fixed;
  background-size: cover;
}

.hero-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-city {
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 10px;
  padding: 0.5em 1.5em;
}

.hero-message {
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 1em 2em;
  line-height: 1.5;
  font-weight: bold;
}

/** Activities **/

.activities {
  background: #f1faee;
  padding: 2em 0;
}

.activities-box {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.activities-title {
  margin-top: 0;
  text-align: center;
}

.activity-title {
  margin-bottom: 0;
}

.activity-picture {
  order: -1;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px #e63946 solid;
}

/* Guide */

.guide {
  background: #fff;
  padding: 2em 0;
}

.guide-box {
  padding: 2em;
  margin: 0 auto;
  background: #a8dadc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guide-box-title {
  order: -2;
  border-bottom: 1px solid #e63946;
  width: 100%;
  text-align: center;
  padding-bottom: 0.4em;
}

.guide-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guide-name {
  font-weight: bold;
}

.guide-picture {
  border-radius: 12px;
  order: -1;
}

.guide-data {
  display: flex;
  flex-direction: column;
}

/* Tablet and Desktop */

@media (min-width: 700px) {
  .hero {
    height: 343px;
  }

  .activities-box {
    flex-direction: row;
  }

  .activity {
    width: 30%;
  }

  .activity-picture {
    width: 150px;
    height: 150px;
  }

  .guide-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .guide-picture,
  .guide-data {
    width: 45%;
  }
}
